<html>
<head>
	<title> Borrado</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />

	{% load staticfiles %}
	<script type="text/javascript" src="{ % static" js/codgo.js" %}></script>




</head>

<body>

<h1> Borrado completado </h1>


<p>Los metadatos que permanecen en el documento son los siguientes:</p>

<br>



	<ul>
	{% for item in metadata %}
	<fieldset>
	 <label for={{item.meta}}> {{item.meta}}</label>
	 <br>
	 </fieldset>

	 {% endfor %}

	</ul>





	<input type="submit" value="Descargar archivo" onclick = "location='/subida/descarga'"/>


</body>
</html>