<html>
<head>
	<title> Metadatos del documento:</title>


	{% load staticfiles %}
	<script type="text/javascript" src="{ % static" js/codgo.js" %}></script>


  <script>
  $( function() {
    $( "input" ).checkboxradio();
  } );
  </script>

</head>

<body>


	Estos son los metadatos del documento

	<ul>

	{% for item in metadata %}


	<form action="/subida/borrado/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>
	<li>
    <label for={{item}}>{{item}}</label>
    <input type="checkbox" name={{item}} id={{item}}></li>
    </p>


	 {% endfor %}


	<input type="submit" value="Borrar metadatos">
	</form>

</body>
</html>