<html>
<head>
	<title> Metadatos del documento</title>


	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />

	{% load staticfiles %}
	<script type="text/javascript" src="{ % static" js/codgo.js" %}></script>


  <script>
  $( function() {
    $( "input" ).checkboxradio();
  } );
  </script>

</head>

<body>

<h1>
Visualización de los metadatos
</h1>

<br>


<p>
	Estos son los metadatos del documento. Seleccione las casillas de los metadatos que desea
	conservar.
	<br>
</p>

	
	{% for item in metadata %}

	<fieldset>
	<form action="/subida/borrado/" method="post" enctype="multipart/form-data">


	{% csrf_token %}

	<p>
    <label for={{item.tag}}>{{item.meta}}</label>
    <input type="checkbox" name={{item.tag}} id={{item.tag}}>
    </p>

    </fieldset>

	 {% endfor %}


	<input type="submit" value="Borrar metadatos">

	</form>
	

	

</body>
</html>