<html>
<head>
	<title>Subida de archivos</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />

<body>

<h1> Borrado de metadatos</h1>

<br>

<p>
	Esta página esta diseñada para poder visualizar y borrar los metadatos de sus archivos.
</p>

<br>


	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Subir archivo">
    </form>

    <input type="submit" value="Ver metadatos" onclick = "location='/subida/visualizar'"/>
</body>
</html>